<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!--Фильтр для аутентификации-->
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>ru.skilanov.controller.filter.AuthenticationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/</url-pattern>
    </filter-mapping>

    <!--Фильтр для энкодера-->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>ru.skilanov.controller.filter.EncodingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/list</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/create</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/edit</url-pattern>
    </filter-mapping>


    <!--Сервлет главная страница-->
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>ru.skilanov.controller.MainServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <!--Сервлет все пользователи-->
    <servlet>
        <servlet-name>AllUsersServlet</servlet-name>
        <servlet-class>ru.skilanov.controller.AllUsersServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AllUsersServlet</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>


    <!--Сервлет создание пользователя-->
    <servlet>
        <servlet-name>CreateUserServlet</servlet-name>
        <servlet-class>ru.skilanov.controller.CreateUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateUserServlet</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>


    <!--Сервлет удаление пользователя-->
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>ru.skilanov.controller.DeleteUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>


    <!--Сервлет изменение пользователя-->
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>ru.skilanov.controller.UpdateUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>

    <!--Сервлет завершения сеанса-->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>ru.skilanov.controller.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
</web-app>